/* Service Area CSS */
.service {
    .service-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;

        .service-item {
            border: 0.1rem solid $btn_hover;
            flex: 1 1 35rem;
            padding: 3rem 2rem;

            &:hover {
                box-shadow: $box_shadow;
            }

            i {
                color: $primary;
                font-size: 4rem;
            }

            h3 {
                font-size: 2.5rem;
                font-weight: 700;
                margin: 1rem 0 0.6rem;
            }

            p {
                font-size: 1.6rem;
            }

            @include breakpoint-down(small) {
                text-align: center;
            }
        }
    }
}