$primary: hsla(39, 100%, 50%, 1);
$btn_hover: hsla(39, 100%, 50%, 0.2);
$dark: hsla(0, 0%, 20%, 1);
$heavy_dark: hsla(0, 0%, 13%, 1);
$white: hsla(0, 100%, 100%, 1);
$gray: hsla(0, 100%, 100%, 0.2);
$lite_gray: hsla(0, 0%, 40%, 1);
$bg_gray: hsla(0, 0%, 95%, 1);
$shadow: hsla(0, 0%, 0%, 0.3);
$lite_shadow: hsla(0, 0%, 0%, 0.2);
$bg_transparent: hsla(0, 0%, 0%, 0.8);
$text_shadow: 0 0.3rem 0.5rem $lite_shadow;
$box_shadow: 0 0.5rem 1.5rem $lite_shadow;